/EduTech/build/
/EduTech/dist/
/EduTech/nbproject/private/

/EduTech/EduTech-ejb/build/
/EduTech/EduTech-ejb/dist/
/EduTech/EduTech-ejb/nbproject/private/

/EduTechRemoteInterface/build/
/EduTechRemoteInterface/dist/
/EduTechRemoteInterface/nbproject/private/


/EduTech/EduTechWebApp-war/build/
/EduTech/EduTechWebApp-war/dist/
/EduTech/EduTechWebApp-war/nbproject/private/

#List of lowest level folders within "uploads/" which contain files.
#add "/" after folder to ignore files inside, instead of the folders themselves

/EduTech/EduTechWebApp-war/web/uploads/commoninfrastructure/admin/images/
/EduTech/EduTechWebApp-war/web/uploads/commoninfrastructure/images/

/EduTech/EduTechWebApp-war/web/uploads/unify/images/common/category/
/EduTech/EduTechWebApp-war/web/uploads/unify/images/errands/job/
/EduTech/EduTechWebApp-war/web/uploads/unify/images/marketplace/item/
/EduTech/EduTechWebApp-war/web/uploads/unify/images/voices/company/





