/EduTech/build/
/EduTech/dist/
/EduTech/nbproject/private/

/EduTech/EduTech-ejb/build/
/EduTech/EduTech-ejb/dist/
/EduTech/EduTech-ejb/nbproject/private/

/EduTechRemoteInterface/build/
/EduTechRemoteInterface/dist/
/EduTechRemoteInterface/nbproject/private/


/EduTech/EduTechWebApp-war/build/
/EduTech/EduTechWebApp-war/dist/
/EduTech/EduTechWebApp-war/nbproject/private/


/EduTech/EduTechWebApp-war/web/uploads/

/edutech-front/node_modules/
