/EduTech/build/
/EduTech/dist/
/EduTech/nbproject/private/

/EduTech/EduTech-ejb/build/
/EduTech/EduTech-ejb/dist/
/EduTech/EduTech-ejb/nbproject/private/

/EduTechRemoteInterface/build/
/EduTechRemoteInterface/dist/
/EduTechRemoteInterface/nbproject/private/


/EduTech/EduTechWebApp-war/build/
/EduTech/EduTechWebApp-war/dist/
/EduTech/EduTechWebApp-war/nbproject/private/

# ignore uploads folder 
/EduTech/EduTechWebApp-war/web/uploads/

# ignore all "node_modules" folders.
node_modules/
/EduTechFrontEnd/nbproject/private/

# ignore all project.properties
EduTech/nbproject/project\.properties

EduTech/EduTech-ejb/nbproject/project\.properties

EduTech/EduTechWebApp-war/nbproject/project\.properties
