<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SERVLET CLASS MAPPING - EDUTECH (SERVLET) -->
    <servlet><servlet-name>CommonInfra</servlet-name><servlet-class>controllers.CommonInfraController</servlet-class></servlet>
    <!-- SERVLET CLASS MAPPING - EDUTECH - COMMON INFRASTRUCTURE (JSP) -->
    <servlet><servlet-name>IntegratedSPLanding</servlet-name><jsp-file>/webapp/edutech/commoninfrastructure/IntegratedSPLanding.jsp</jsp-file></servlet>
    <servlet><servlet-name>IntegratedSPLogin</servlet-name><jsp-file>/webapp/edutech/commoninfrastructure/IntegratedSPLogin.jsp</jsp-file></servlet>
    
    <!-- SERVLET CLASS MAPPING - UNIFY (SERVLET)-->
    <servlet><servlet-name>Profile</servlet-name><servlet-class>controllers.UserProfileController</servlet-class></servlet>
    <servlet><servlet-name>Errands</servlet-name><servlet-class>controllers.ErrandsController</servlet-class></servlet>
    <servlet><servlet-name>Marketplace</servlet-name><servlet-class>controllers.MarketplaceController</servlet-class></servlet>
    <servlet><servlet-name>Voices</servlet-name><servlet-class>controllers.VoicesController</servlet-class></servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - ADMIN (JSP) -->
    <servlet><servlet-name>UnifyAdminLanding</servlet-name><jsp-file>/webapp/unify/admin/UnifyAdminLanding.jsp</jsp-file></servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - ERRANDS (JSP) -->
    <servlet><servlet-name>HelpListing</servlet-name><jsp-file>/webapp/unify/systemuser/errands/HelpListing.jsp</jsp-file></servlet>
    <servlet><servlet-name>HelpDetails</servlet-name><jsp-file>/webapp/unify/systemuser/errands/HelpDetails.jsp</jsp-file></servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - MARKETPLACE (JSP) -->
    <servlet><servlet-name>ItemListing</servlet-name><jsp-file>/webapp/unify/systemuser/marketplace/ItemListing.jsp</jsp-file></servlet>
    <servlet><servlet-name>ItemDetails</servlet-name><jsp-file>/webapp/unify/systemuser/marketplace/ItemDetails.jsp</jsp-file></servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - USERPROFILE (JSP) -->
    <servlet><servlet-name>UserProfile</servlet-name><jsp-file>/webapp/unify/systemuser/userprofile/UserProfile.jsp</jsp-file></servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - VOICES (JSP) -->
    <servlet><servlet-name>ShoutListing</servlet-name><jsp-file>/webapp/unify/systemuser/voices/ShoutListing.jsp</jsp-file></servlet>
    <servlet><servlet-name>ShoutDetails</servlet-name><jsp-file>/webapp/unify/systemuser/voices/ShoutDetails.jsp</jsp-file></servlet>
    
    <!-- URL MAPPING - EDUTECH (SERVLET) -->
    <servlet-mapping><servlet-name>CommonInfra</servlet-name><url-pattern>/CommonInfra</url-pattern></servlet-mapping>
    <!-- URL MAPPING - EDUTECH - COMMON INFRASTRUCTURE (JSP) -->
    <servlet-mapping><servlet-name>IntegratedSPLanding</servlet-name><url-pattern>/webapp/edutech/commoninfrastructure/IntegratedSPLanding</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>IntegratedSPLogin</servlet-name><url-pattern>/webapp/edutech/commoninfrastructure/IntegratedSPLogin</url-pattern></servlet-mapping>
    
    <!-- URL MAPPING - UNIFY (SERVLET) -->
    <servlet-mapping><servlet-name>Profile</servlet-name><url-pattern>/Profile</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>Errands</servlet-name><url-pattern>/Errands</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>Marketplace</servlet-name><url-pattern>/Marketplace</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>Voices</servlet-name><url-pattern>/Voices</url-pattern></servlet-mapping>
    <!-- URL MAPPING - UNIFY - ADMIN (JSP) -->
    <servlet-mapping><servlet-name>UnifyAdminLanding</servlet-name><url-pattern>/webapp/unify/admin/UnifyAdminLanding</url-pattern></servlet-mapping>
    <!-- URL MAPPING - UNIFY - SYSTEMUSER - ERRANDS (JSP) -->
    <servlet-mapping><servlet-name>HelpListing</servlet-name><url-pattern>/webapp/unify/systemuser/errands/HelpListing</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>HelpDetails</servlet-name><url-pattern>/webapp/unify/systemuser/errands/HelpDetails</url-pattern></servlet-mapping>
    <!-- URL MAPPING - UNIFY - SYSTEMUSER - MARKETPLACE (JSP) -->
    <servlet-mapping><servlet-name>ItemListing</servlet-name><url-pattern>/webapp/unify/systemuser/marketplace/ItemListing</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ItemDetails</servlet-name><url-pattern>/webapp/unify/systemuser/marketplace/ItemDetails</url-pattern></servlet-mapping>
    <!-- URL MAPPING - UNIFY - SYSTEMUSER - USERPROFILE (JSP) -->
    <servlet-mapping><servlet-name>UserProfile</servlet-name><url-pattern>/webapp/unify/systemuser/userprofile/UserProfile</url-pattern></servlet-mapping>
    <!-- URL MAPPING - UNIFY - SYSTEMUSER - VOICES (JSP) -->
    <servlet-mapping><servlet-name>ShoutListing</servlet-name><url-pattern>/webapp/unify/systemuser/voices/ShoutListing</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ShoutDetails</servlet-name><url-pattern>/webapp/unify/systemuser/voices/ShoutDetails</url-pattern></servlet-mapping>
    
    <!-- MISCELLANEOUS -->
    <session-config><session-timeout>300</session-timeout></session-config>
    <welcome-file-list><welcome-file>webapp/edutech/commoninfrastructure/IntegratedSPLogin.jsp</welcome-file></welcome-file-list>
    <jsp-config/>
</web-app>
