<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- WEB FILTERS -->
    <!--This filter prevents user from accessing restricted page through browser's Back button after logout.-->
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>commoninfracontrollers.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- SERVLET CLASS MAPPING - COMMON INFRASTRUCTURE (SERVLET) -->
    <servlet>
        <servlet-name>CommonInfra</servlet-name>
        <servlet-class>commoninfracontrollers.CommonInfraController</servlet-class>
    </servlet>
    <!-- SERVLET CLASS MAPPING - COMMON INFRASTRUCTURE (JSP) -->
    <servlet>
        <servlet-name>IntegratedSPLanding</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/IntegratedSPLanding.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SystemAdminLanding</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/SystemAdminLanding.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DualAdminLanding</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/DualAdminLanding.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UnifyAdminLanding</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/UnifyAdminLanding.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EduTechAdminLanding</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/EduTechAdminLanding.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SystemUserLanding</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/SystemUserLanding.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>IntegratedSPLogin</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/IntegratedSPLogin.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - COMMON INFRASTRUCTURE - ADMIN(SERVLET) -->
    <servlet>
        <servlet-name>SystemAdmin</servlet-name>
        <servlet-class>commoninfracontrollers.admin.SystemAdminController</servlet-class>
    </servlet>
    <!-- SERVLET CLASS MAPPING - COMMON INFRASTRUCTURE - ADMIN(JSP) -->
    <servlet>
        <servlet-name>SystemAdminDashboard</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/Dashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllAdminList</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/admins/AllAdminList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NewAdmin</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/admins/NewAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewAdmin</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/admins/ViewAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditAdmin</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/admins/EditAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/students/StudentList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NewStudent</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/students/NewStudent.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewStudent</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/students/ViewStudent.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/students/EditStudent.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InstructorList</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/instructors/InstructorList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NewInstructor</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/instructors/NewInstructor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewInstructor</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/instructors/ViewInstructor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditInstructor</servlet-name>
        <jsp-file>/webapp/commoninfrastructure/admin/instructors/EditInstructor.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - EDUTECH - ADMIN (SERVLET) -->
    <!-- SERVLET CLASS MAPPING - EDUTECH - ADMIN (JSP) -->
    <!-- SERVLET CLASS MAPPING - EDUTECH - SYSTEMUSER (SERVLET) -->
    <!-- SERVLET CLASS MAPPING - EDUTECH - SYSTEMUSER (JSP) -->
    <!-- SERVLET CLASS MAPPING - UNIFY - ADMIN (SERVLET) -->
    <servlet>
        <servlet-name>ProfileAdmin</servlet-name>
        <servlet-class>unifycontrollers.admin.UserProfileAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrandsAdmin</servlet-name>
        <servlet-class>unifycontrollers.admin.ErrandsAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketplaceAdmin</servlet-name>
        <servlet-class>unifycontrollers.admin.MarketplaceAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoicesAdmin</servlet-name>
        <servlet-class>unifycontrollers.admin.VoicesAdminController</servlet-class>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - ADMIN (JSP) -->
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <jsp-file>/webapp/unify/admin/AdminDashboard.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - ADMIN - ERRANDS (JSP) -->
    <servlet>
        <servlet-name>ViewJobListing</servlet-name>
        <jsp-file>/webapp/unify/admin/errands/ViewJobListing.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateNewJobCategory</servlet-name>
        <jsp-file>/webapp/unify/admin/errands/CreateNewJobCategory.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewJobCategoryDetails</servlet-name>
        <jsp-file>/webapp/unify/admin/errands/ViewJobCategoryDetails.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewJobCategoryListing</servlet-name>
        <jsp-file>/webapp/unify/admin/errands/ViewJobCategoryListing.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewJobDetails</servlet-name>
        <jsp-file>/webapp/unify/admin/errands/ViewJobDetails.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - ADMIN - MARKETPLACE (JSP) -->
    <servlet>
        <servlet-name>ViewItemCategoryListing</servlet-name>
        <jsp-file>/webapp/unify/admin/marketplace/ViewItemCategoryListing.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewItemCategoryDetails</servlet-name>
        <jsp-file>/webapp/unify/admin/marketplace/ViewItemCategoryDetails.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NewItemCategory</servlet-name>
        <jsp-file>/webapp/unify/admin/marketplace/NewItemCategory.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewItemListing</servlet-name>
        <jsp-file>/webapp/unify/admin/marketplace/ViewItemListing.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewItemListingDetails</servlet-name>
        <jsp-file>/webapp/unify/admin/marketplace/ViewItemListingDetails.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - ADMIN - USERPROFILE (JSP) -->
    <!-- SERVLET CLASS MAPPING - UNIFY - ADMIN - VOICES (JSP) -->
    <servlet>
        <servlet-name>ViewCompanyList</servlet-name>
        <jsp-file>/webapp/unify/admin/voices/ViewCompanyList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewCompanyListDetails</servlet-name>
        <jsp-file>/webapp/unify/admin/voices/ViewCompanyListDetails.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NewCompany</servlet-name>
        <jsp-file>/webapp/unify/admin/voices/NewCompany.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewReviewList</servlet-name>
        <jsp-file>/webapp/unify/admin/voices/ViewReviewList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewReviewListDetails</servlet-name>
        <jsp-file>/webapp/unify/admin/voices/ViewReviewListDetails.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER (SERVLET) -->
    <servlet>
        <servlet-name>ProfileSysUser</servlet-name>
        <servlet-class>unifycontrollers.systemuser.UserProfileSysUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrandsSysUser</servlet-name>
        <servlet-class>unifycontrollers.systemuser.ErrandsSysUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketplaceSysUser</servlet-name>
        <servlet-class>unifycontrollers.systemuser.MarketplaceSysUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoicesSysUser</servlet-name>
        <servlet-class>unifycontrollers.systemuser.VoicesSysUserController</servlet-class>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - ERRANDS (JSP) -->
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - MARKETPLACE (JSP) -->
    <servlet>
        <servlet-name>NewItemListingSYS</servlet-name>
        <jsp-file>/webapp/unify/systemuser/marketplace/NewItemListingSYS.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewItemListingSYS</servlet-name>
        <jsp-file>/webapp/unify/systemuser/marketplace/ViewItemListingSYS.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewItemDetailsSYS</servlet-name>
        <jsp-file>/webapp/unify/systemuser/marketplace/ViewItemDetailsSYS.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewItemDetailsModalSYS</servlet-name>
        <jsp-file>/webapp/unify/systemuser/marketplace/ViewItemDetailsModalSYS.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - USERPROFILE (JSP) -->
    <servlet>
        <servlet-name>UserAccount</servlet-name>
        <jsp-file>/webapp/unify/systemuser/userprofile/UserAccount.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserItemTransaction</servlet-name>
        <jsp-file>/webapp/unify/systemuser/userprofile/UserItemTransaction.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <jsp-file>/webapp/unify/systemuser/userprofile/UserProfile.jsp</jsp-file>
    </servlet>
    <!-- SERVLET CLASS MAPPING - UNIFY - SYSTEMUSER - VOICES (JSP) -->
    <!-- URL MAPPING - COMMON INFRASTRUCTURE (SERVLET) -->
    <servlet>
        <servlet-name>ViewJobDetailsInCategory</servlet-name>
        <jsp-file>/webapp/unify/admin/errands/ViewJobDetailsInCategory.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewJobTransactionListing</servlet-name>
        <jsp-file>/webapp/unify/admin/errands/ViewJobTransactionListing.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonInfra</servlet-name>
        <url-pattern>/CommonInfra</url-pattern>
    </servlet-mapping>
    <!-- URL MAPPING - COMMON INFRASTRUCTURE - ADMIN (SERVLET) -->
    <servlet-mapping>
        <servlet-name>SystemAdmin</servlet-name>
        <url-pattern>/SystemAdmin</url-pattern>
    </servlet-mapping>
    <!-- URL MAPPING - EDUTECH - ADMIN (SERVLET) -->
    <!-- URL MAPPING - EDUTECH - SYSTEMUSER (SERVLET) -->
    <!-- URL MAPPING - UNIFY - ADMIN (SERVLET) -->
    <servlet-mapping>
        <servlet-name>ProfileAdmin</servlet-name>
        <url-pattern>/ProfileAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrandsAdmin</servlet-name>
        <url-pattern>/ErrandsAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketplaceAdmin</servlet-name>
        <url-pattern>/MarketplaceAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoicesAdmin</servlet-name>
        <url-pattern>/VoicesAdmin</url-pattern>
    </servlet-mapping>
    <!-- URL MAPPING - UNIFY - SYSTEMUSER (SERVLET) -->
    <servlet-mapping>
        <servlet-name>ProfileSysUser</servlet-name>
        <url-pattern>/ProfileSysUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrandsSysUser</servlet-name>
        <url-pattern>/ErrandsSysUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketplaceSysUser</servlet-name>
        <url-pattern>/MarketplaceSysUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoicesSysUser</servlet-name>
        <url-pattern>/VoicesSysUser</url-pattern>
    </servlet-mapping>
    <!-- MISCELLANEOUS -->
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>webapp/commoninfrastructure/IntegratedSPLogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
