.searchInputText {
    margin-left: 5px;
    padding: 3px 5px 3px 5px;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.itemReportFields { margin-top: 5px; width: 100%; }
.likeStatus { color: crimson; }
.noLikeStatus { color: #FFFFFF; }
#successReportResponse { color: #228B22; font-weight: bold; display: none; }
#failedReportResponse { color: #FF0000; font-weight: bold; display: none; }

.profileBorder { text-align: center; position: relative; }
.profilePic { border-radius: 50%; width: 32px; height: 32px; }

.profileContent { display: block; vertical-align: top; }
.profileHeader { color: #333333; font-size: inherit; font-weight: 600; margin-bottom: 1px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 100%; }
.profileTime { color: #B3B3B3; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 100%; display: inline-block; }