.table > tbody > tr:hover { cursor: pointer; background-color: #4D7496; color: #FFFFFF; }
.table > tbody > tr > td { vertical-align: middle; }

.badge-light {
    color: #fff;
    background-color: red;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    position: absolute;
    top: 1px;
}