.inlineIcon {
  display:inline-block;
}

a.btnHover:hover{
	cursor: pointer;
}

.formGap {
	margin-left: 10px;
	margin-right: 10px;
}

.rbc-height{
	min-height: 20px;
}

.legend-personal{
  margin-left: 10px;
	height: 10px;
	width: 30px;
	background-color: #006400; 
}


.legend-meeting{
  height: 10px;
  width: 30px;
  background-color: #FF8C00; 
}

.legend-timetable{
  height: 10px;
  width: 30px;
  background-color: #9932CC; 
}

.legend-assessment{
  height: 10px;
  width: 30px;
  background-color: #00BFFF; 
}