@media only screen and (min-width: 31em) {
    .formFields {
        border-spacing: 0;
        width: 95%;
        margin: 20px 25px 0 20px;
    }
    .formFields tr td:first-child { width: 32%; vertical-align: top; }
    .formFields tr td:last-child { width: 68%; vertical-align: top; }
}
@media only screen and (max-width: 30em) {
    .formFields td {
        display: block;
        clear: both;
        margin: 20px 0 0 20px;
    }
    .formFields tr td:first-child { width: 100%; vertical-align: top; }
    .formFields tr td:last-child { width: 100%; vertical-align: top; }
}

input[type="file"] { display: none; }
.image-upload { border: 3px dashed #D6D6D6; background-color: #FAFAFA; max-width: 151px; min-width: 151px; max-height: 156px; min-height: 156px;}
#output-image { max-width: 145px; min-width: 145px; max-height: 150px; min-height: 150px; }