
.login-wrapper {
    position: relative;
    max-width: 500px;
    margin: 0 auto 20px;
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0; }
  @media print {
    .login-wrapper {
      border: 1px solid #ccc;
      box-shadow: none; } }
    .login-main.has-reg {
    max-width: 850px; }
    .login-main.no-reg .signin {
    width: 100%; }
    .login-header {
    border-radius: 3px 3px 0 0; }
    .login-header #page-brand {
    background: #ffffff;
    padding: 0 10px 0 15px;
    border-radius: 3px 3px 0 0; }
    .login-header #page-brand:before, .login-page .login-header #page-brand:after {
    content: " ";
    display: table; }
    .login-header #page-brand:after {
    clear: both; }
    .login-header #page-brand .brand-link {
    float: left;
    height: 88px;
    width: 168px; }
    .login-header #page-brand .brand-link div {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
    .login-header #page-brand .login-actions {
    float: right;
    text-align: right;
    width: 42px;
    position: relative;
    padding: 28px 0; }
    .login-header #page-brand .login-actions .actions-toggle-wrapper {
      position: absolute;
      height: 40px;
      width: 40px; }
     .login-header #page-brand .login-actions .actions-toggle-wrapper .actions-toggle {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        font-family: 'valkyrie';
        speak: none;
        color: #fff;
        font-size: 32px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.95); }
        .login-header #page-brand .login-actions .actions-toggle-wrapper .actions-toggle:before {
          content: "\e633"; }
        
 .clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
  .clearfix:after {
    clear: both; }
  
  
   .page-title, .login-page .tip, .login-page .eventlog-msg, .login-page #errors_container {
    text-align: center; }
  .page-title-wrapper {
    margin: 0;
    padding: 0; }
  .page-title-wrapper .page-title {
    margin: 15px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300; }
  .page-title-wrapper .hint {
    margin-left: 20px;
    margin-right: 20px; }
  .page-title-wrapper .page-title {
    margin: 15px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300; }
  

  
   .page-footer div {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center; }
   .page-footer .footer-links {
    text-align: center;
    font-size: 12px; }

  
 

.user_type .page-title-wrapper .page-title {
  margin: 30px 0; 
}

  .user_type #wherechoices {
    text-align: center; }
  .user_type #wherechoices a {
    margin: 0 15px 30px;
    display: inline-table;
    height: 120px;
    border-bottom: solid 6px #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #606060;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle; 
  }
  
  .user_type #wherechoices a {
    margin: 0 15px 30px;
    display: inline-table;
    height: 120px;
    border-bottom: solid 6px #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #606060;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle; 
  }
  
  .user_type #wherechoices a.alumni {
    background: #fff url("/components/valkyrie/images/student.svg") 65px -25px no-repeat;
    background-size: 85%; 
  }
  
  .user_type #wherechoices a.employers {
    background: #fff url("/components/valkyrie/images/building.svg") 65px -15px no-repeat;
    background-size: 85%; 
  }
  
  .user_type #wherechoices a.events {
    background: #fff url("/components/valkyrie/images/event.svg") 65px -25px no-repeat;
    background-size: 85%; 
  }
  
  .user_type #wherechoices a.managers {
    background: #fff url("/components/valkyrie/images/support.svg") 65px -15px no-repeat;
    background-size: 85%; 
  }
  
  .user_type #wherechoices a.students {
    background: #fff url("/components/valkyrie/images/student.svg") 65px -25px no-repeat;
    background-size: 85%; 
  }
  
  .user_type #wherechoices a.faculty {
    background: #fff url("/components/valkyrie/images/apple.svg") 65px -15px no-repeat;
    background-size: 85%; 
  }
  
  .user_type #wherechoices a:hover {
    border-bottom: solid 6px #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.082); 
  }
  
  .user_type #wherechoices a .user-container {
    display: table-cell;
    vertical-align: middle; 
  }
  
  .user_type #wherechoices a .mainpage-button-text {
    display: block;
    width: 200px;
    word-wrap: break-word; 
  }
  
  #page{
      background: url('images/homepage.jpg') no-repeat;
      background-size: 100% ;     
  }
  




