.myCalendar {
  height: 75vh;
  text-align: center;
  padding-top: 3px;
  position: relative
}

.expandButton {
  position: absolute;
  left: 0;
  bottom: 28px;
}

.calendarContainter {
  height: 90%;
}

.rbc-event-label {
  display: none;
}

.rbc-event-content {
  font-size: 0.9em;
}

.rbc-calendar {
  padding: 15px;
}


.calendarFormField {
  margin: 20px 0;
}

.calendarDateFormField {
  margin: 0 3px;
}


.legend-meeting{
  height: 10px;
  width: 30px;
  background-color: #FF8C00;
}

.legend-timetable{
  height: 10px;
  width: 30px;
  background-color: #9932CC;
}

.legend-assessment{
  height: 10px;
  width: 30px;
  background-color: #00BFFF;
}

.legend-task{
  height: 10px;
  width: 30px;
  background-color: #800000;
}
