.sellerInfo { font-size: 14px; font-weight: bold; }

.offerFields { margin-top: 7px; width: 100%; }
#successOfferResponse { color: #228B22; font-weight: bold; display: none; }
#failedOfferResponse { color: #FF0000; font-weight: bold; display: none; }
.likeStatus { background-color: #4D7496; color: #FFFFFF; }
.noLikeStatus { background-color: #FFFFFF; color: #4D7496; }