.offerFields { margin-top: 7px; width: 100%; }
#successOfferResponse { color: #228B22; font-weight: bold; display: none; }
#failedOfferResponse { color: #FF0000; font-weight: bold; display: none; }
.likeStatus { background-color: #4D7496; color: #FFFFFF; }
.noLikeStatus { background-color: #FFFFFF; color: #4D7496; }

/* USER PROFILE RATING */
img { vertical-align: middle; border: 0; }
.profileRating { padding: 0; margin: 0; list-style: none; }
.profileRating li { display: inline-block; padding-right: 15px; }
.ratingImage { padding: 0 2px; width: auto; height: 18px; }
.ratingValue { margin: 0 0 0 5px; vertical-align: middle; color: #8F939C; font-weight: bold; }
.job-information tr { line-height: 30px; }

#job_title { font-size: 24px; color: #4D7496; line-height: 1.8; }

table{ table-layout:fixed; word-break: break-all; }
table td{ border:0px solid; overflow:hidden; }

.summary-container
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 15px; /*Optional*/
    height: 80px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}
.summary-column
{
    display: table-cell;
    background-color: white; /*Optional*/
    border-style: solid;
    border-color: grey;
    border-width: 0px 1px 0px 0px;
    text-align: center;
    height: 50px;
    
}

.summary-col
{
    display: table-cell;
    background-color: white; /*Optional*/
    text-align: center;
}

.count-title{
    font-size: 12px;
    color: grey;
}

.count{
    display: inline-block;
    color: #9fa5ad;
    font-size: 17px;
    margin-top: 10px;
    
}

.user-img{
    border-radius: 50%;
}