#bodyContent { margin-top: 20px; }
#formContent { padding-left: 10px; }

input[type="file"] { display: none; }
.image-upload { border: 3px dashed #D6D6D6; background-color: #FAFAFA; max-width: 240px; min-width: 240px; max-height: 166px; min-height: 166px;}
#output-image { max-width: 234px; min-width: 234px; max-height: 160px; min-height: 160px; }

#image-button{
    display: block;
    width: 240px;
}

.icon-close:before {
    content: "X";
}

*::before{box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

#modal-iframe .icon-close{
  background: #FFF;
  margin-bottom: 10px;
  position: absolute;
  right: -8px;
  top: -8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0;
  color: #a9a9a9;
  cursor: pointer;
}
#modal-iframe .icon-close:hover, #modal-custom .icon-close:focus{
  color: black;
}
#modal-iframe.hasScroll .icon-close{
  display: none;
}